/*
Error: Invalid CSS after "    z-index: 3": expected "{", was ";"
        on line 41 of src/scss/applist.scss
        from line 23 of src/App.scss

36:     cursor: pointer;
37:     position: fixed;
38:     right: rem(20);
39:     top: rem(21);
40: <<<<<<< HEAD
41:     z-index: 3;
42: =======
43:     z-index: 12;
44: >>>>>>> 0b0b66d48902d4d62f743c413f42082487db497e
45:     color: $dark_gray_3;
46:     transition: all .3s ease;

Backtrace:
src/scss/applist.scss:41
src/App.scss:23
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1278:in `expected'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1208:in `expected'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1203:in `tok!'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:677:in `block'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:697:in `block_child'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:689:in `block_contents'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:678:in `block'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:670:in `ruleset'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:696:in `block_child'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:689:in `block_contents'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:41:in `parse'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/engine.rb:414:in `_to_tree'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/engine.rb:321:in `to_tree'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:327:in `block in visit_import'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/stack.rb:88:in `block in with_import'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/stack.rb:88:in `with_import'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `map'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:161:in `visit'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:10:in `visit'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/tree/root_node.rb:20:in `render'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/engine.rb:290:in `render'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:464:in `update_stylesheet'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.5.5/bin/sass:13:in `<top (required)>'
C:/RailsInstaller/Ruby2.2.0/bin/sass:23:in `load'
C:/RailsInstaller/Ruby2.2.0/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    z-index: 3\": expected \"{\", was \";\"\A         on line 41 of src/scss/applist.scss\A         from line 23 of src/App.scss\A \A 36:     cursor: pointer;\A 37:     position: fixed;\A 38:     right: rem(20);\A 39:     top: rem(21);\A 40: <<<<<<< HEAD\A 41:     z-index: 3;\A 42: =======\A 43:     z-index: 12;\A 44: >>>>>>> 0b0b66d48902d4d62f743c413f42082487db497e\A 45:     color: $dark_gray_3;\A 46:     transition: all .3s ease;"; }
